In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

rawData = pd.read_csv('rgbset2.txt', names=['id','Fraction','R','G','B'])
rawData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1641 entries, 0 to 1640
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        1641 non-null   object
 1   Fraction  1641 non-null   object
 2   R         1641 non-null   object
 3   G         1641 non-null   object
 4   B         1641 non-null   object
dtypes: object(5)
memory usage: 64.2+ KB

In [23]:
rawData.head()

        id     Fraction      R      G      B
0       id     fraction      r      g      b
1  321_100   0.07644259  147.0   32.0   18.0
2  321_100    0.2761749  253.0  252.0  250.0
3  321_100   0.05339084   38.0    6.0    4.0
4  321_100  0.037923854   68.0    5.0    4.0

In [24]:
rawData.index

RangeIndex(start=0, stop=1641, step=1)

In [25]:
rawData.columns

Index(['id', 'Fraction', 'R', 'G', 'B'], dtype='object')

In [26]:
rawData.values

array([['id', 'fraction', 'r', 'g', 'b'],
       ['321_100', '0.07644259', '147.0', '32.0', '18.0'],
       ['321_100', '0.2761749', '253.0', '252.0', '250.0'],
       ...,
       ['r_9_100', '0.017251637', '215.0', '126.0', '112.0'],
       ['r_9_100', '0.007733492', '183.0', '71.0', '57.0'],
       ['r_9_100', '0.07034503', '88.0', '20.0', '13.0']], dtype=object)

,id,321_100,321_100,321_100,321_100,321_100,321_100,321_100,321_100,321_100,...,r_9_100,r_9_100,r_9_100,r_9_100,r_9_100,r_9_100,r_9_100,r_9_100,r_9_100,r_9_100
Fraction,fraction,0.07644259,0.2761749,0.05339084,0.037923854,0.00594884,0.005502677,0.03881618,0.050118975,0.07763236,...,0.20895301,0.104997024,0.06885783,0.040898275,0.049821533,0.024241524,0.015615705,0.017251637,0.007733492,0.07034503
R,r,147.0,253.0,38.0,68.0,168.0,182.0,127.0,107.0,25.0,...,150.0,113.0,60.0,149.0,129.0,182.0,183.0,215.0,183.0,88.0
G,g,32.0,252.0,6.0,5.0,156.0,147.0,17.0,11.0,9.0,...,34.0,23.0,16.0,53.0,19.0,86.0,96.0,126.0,71.0,20.0
B,b,18.0,250.0,4.0,4.0,151.0,131.0,10.0,7.0,6.0,...,22.0,9.0,5.0,35.0,10.0,70.0,82.0,112.0,57.0,13.0

In [27]:
rawData['id']

0            id
1       321_100
2       321_100
3       321_100
4       321_100
         ...
1636    r_9_100
1637    r_9_100
1638    r_9_100
1639    r_9_100
1640    r_9_100
Name: id, Length: 1641, dtype: object

In [28]:
rawData.describe()

            id     Fraction      R     G     B
count     1641         1641   1641  1641  1641
unique     165          714    162   177   147
top     87_100  0.004610351  252.0   6.0   4.0
freq        10           11     50    86   120

In [38]:
a = rawData.drop_duplicates(['id'],keep='first')

            id     Fraction      R     G     B
0           id     fraction      r     g     b
1      321_100   0.07644259  147.0  32.0  18.0
11     322_100    0.0751041  147.0  32.0  18.0
21     323_100   0.07852469  147.0  31.0  18.0
31     324_100  0.084176086  148.0  32.0  18.0
...        ...          ...    ...   ...   ...
1591  r_96_100   0.08477097   52.0  14.0   7.0
1601  r_97_100   0.08447353   52.0  15.0   7.0
1611  r_98_100   0.09042237   53.0  14.0   6.0
1621  r_99_100  0.092504464   52.0  14.0   6.0
1631   r_9_100   0.20895301  150.0  34.0  22.0

[165 rows x 5 columns]

In [46]:
print(rawData.drop_duplicates(['id'],keep='first')['id'])

0             id
1        321_100
11       322_100
21       323_100
31       324_100
          ...
1591    r_96_100
1601    r_97_100
1611    r_98_100
1621    r_99_100
1631     r_9_100
Name: id, Length: 165, dtype: object